/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #fff;
  font-family: "Museo Sans","Lucida Grande",Arial,sans-serif;
  font: 13.34px;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

ul li {
  list-style-type: none;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.main {
  overflow: auto;
  min-height: 85%;
  height: auto !important;
  height: 100%;
}

.site {
  min-height: 86%;
  font-size: 115%;
  text-align: justify;
  width: 988px;
  margin: 3em auto 0em;
  line-height: 1.5em;
  padding-top: 50px;
}

.site  a {
  font-weight: bold;
  text-decoration: none;
}

.site h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site h1.title a {
  color: #a00;
}

.site a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .meta {
  color: #aaa;
}

/*
.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}
*/

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.footer a {
  font-weight: bold;
  text-decoration: none;
}

.footer h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.footer h1.title a {
  color: #a00;
}

.footer h1.title a:hover {
  color: #000;
}

.footer a.extra {
  color: #aaa;
  margin-left: 2em;
}

.footer a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  position: relative;
  width: 100%;
  max-height: 100%;
  height: 14%;
  Background:rgba(246,247,248,1.0);
  left: 0px;
  bottom: 0px;
  font-size: 100%;
  color: #666;
  border-top: 4px solid #eee;
  clear:both;
}

.footer .copyright {
  float: right;
  margin-right: 3em;
}

.footer .copyright p {
  color: #8085C1;
}

.rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*********************************************************************************/
/*
/* Header
/* 
/*********************************************************************************/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  Background:rgba(255,255,255,0.95);
  padding:20px;
  padding-om:25px;
  bottom-margin: 3em;
  border-bottom: 4px solid #eee;
}

.header #container {
  margin: 10px;
  width: 42em;
}

.logo {
 float: left;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.links {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  line-height: -5px;
}

.links a {
  float: none;
  margin-left: 20px;
}

#nav-links {
  font-family: "Museo Sans", "Lucida Grande", Arial, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #aaa !important;
  margin-left: 1em;
  float: none;
  padding: 8px 15px 8px;
  text-decoration: none !important;
  text-shadow: 0 1px 0 #fff;
  width: 988px;
  padding: 10px;
  margin-left:auto;
  margin-right:auto;
}

.header #nav-links a:hover {
  color: #000;
}

/*********************************************************************************/
/*
/* Science
/* 
/*********************************************************************************/

.science {
  overflow: hidden;
}

.science li {
 margin: 1.4em 0;
 text-align: left !important;
}

.science h1 {
}

.science_content {
  margin-top: 3%;
}

#header_science {
  width: 100%;
  height: 150px;
  margin-top: 2%;
  overflow: hidden;
}

#header_science .left {
  color: #fff;
  font-size: 2.5em;
  float: left;
}

#header_science .left h1 {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

#header_science .center-cropped {
  width: 100px;
  height: 150px;
  background-color:rgba(201, 160, 220, 0.8);
  background-repeat: repeat;
  overflow: hidden;
  z-index: -2;
  left: 0px;
}

/*********************************************************************************/
/*
/* Content
/* 
/*********************************************************************************/

#band1 {
  overflow: hidden;
}

#band1 h1 {
  font-size: 2em;
}

#band1 .left {
  width: 50%;
  padding: 15px;
  float: left;
  font-size: 1.2em;
  margin-top: 20px;
}

#band1 .right {
  width: 40%;
  padding: 15px;
  float: right;
}

#band1 .right img {
  max-height: 100%;
  max-width: 100%;
  margin-left: 20px;
}

#band2 {
  margin-top: 2%;
  overflow: auto;
  width: 100%;
  color: #fff;
  margin-bottom: 5%;
}

#band2 h1 {
  font-size: 2.5em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0em;
}

#band2 .column1 {
  width: 33%;
  float: left;
}

.segment1 {
  margin-top: 7%;
  padding: 7%;
  font-size: 1.1em;
}

.segment1 img { 
  max-width: 100%;
  max-height: 100%;
} 

#band2 .column23 {
  width: 66%;
  float: right;
}

#band2 .column2 {
  width: 50%;
  float: left;
}

.segment2 {
  margin-top: 7%;
  padding: 7%;
  font-size: 1.1em;
}

.segment2 img {
  max-width: 100%;
  max-height: 100%;
}

#band2 .column3 {
  width: 50%;
  float: right;
}

.segment3 {
  margin-top: 7%;
  padding: 7%;
  font-size: 1.1em;
}

.segment3 img {
  max-width: 100%;
  max-height: 100%;
}

#band3 {
  margin-top: 0%;
  width: 100%;
  overflow: hidden;
}

#band3 .heading {
 margin-top: 2%;
 width:100%;
 text-align: center;
 font-size: 2.5em;
}

#band3 .left {
  width: 50%;
  padding: 15px;
  float: left;
  font-size: 1.1em;
}

#band3 .right {
  width: 40%;
  padding: 15px;
  float: right;
}

#band3 img {
  border:4px solid #eee;
  max-height: 100%;
  max-width: 100%;
  margin-left: 20px;
}

.center-cropped {
    width: 100px;
    height: 560px;
    /*background-position: center center; */
    background-repeat: repeat;
    overflow: hidden;
    z-index: -2;
    left: 0px;
    background-color:rgba(201, 160, 220, 1.0);
    -webkit-filter: blur(1.5px) brightness(.9);
}

.center-cropped img {
   min-height: 100%;
   min-width: 100%;
   opacity: 0.85;

   /* IE 8 */
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
   /* IE 5-7 */
   filter: alpha(opacity=85);
   /* modern browsers */
}

#band5 {
  width: 100%;
  height: 150px;
  margin-top: 2%;
  overflow: hidden;
}

#band5 .left {
  color: #fff;
  font-size: 2.5em;
  float: left;
}

#band5 .right {
  float: right;
  margin-top: 48px;
  margin-bottom: 60px;
  margin-right: 15px; 
}

#band5 .left h1 {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

#band5 .center-cropped {
  width: 100px;
  height: 150px;
  background-color:rgba(201, 160, 220, 0.8);
  background-repeat: repeat;
  overflow: hidden;
  z-index: -2;
  left: 0px;
}


/*********************************************************************************/
/*
/* About
/* 
/*********************************************************************************/

#kaveh {
  margin-top: 2%;
  width: 100%;
  overflow: auto;
}

#kaveh .left {
  width: 28%;
  float: left;
}

#kaveh .left img {
  border:4px solid #eee;
  max-width: 100%;
  max-height: 100%;
}

#kaveh .right {
  width: 57%;
  padding: 2% 10% 2% 2%;
  float: right;
}

#dhonam {
  width: 100%;
  margin-top: 2%;
  overflow: hidden;
}

#dhonam .left {
  padding: 2% 4% 2% 2%;
  width: 57%;
  float: right;
  text-align: right;
}

#dhonam .left h1 {
  text-align: right;
}

#dhonam .left p {
  text-align: left;
}

#dhonam .right {
  width: 28%;
  float: right;
}

#dhonam .right img {
  border:4px solid #eee;
  max-width: 100%;
  max-height: 100%;
}

.bottom_margin {
  margin-bottom: 7%;
  overflow: hidden;
}

/*********************************************************************************/
/*
/* Portfolio
/* 
/*********************************************************************************/

#text {
  margin-top: 2%;
  width: 100%;
}

#text h1 {
  font-size: 2.0em;
}

#text p {
  font-size: 1.2em;
}

#screenshots {
}

#screenshots .shot1 {
  margin-top: 2%;
  width: 100%;
  overflow: auto;
}

.shot1 .left {
  width: 38%;
  float: left;
  padding: 1%;
}

.shot1 .left img {
  max-width: 100%;
  max-height: 100%;
}

.shot1 .right {
  width: 56%;
  padding: 2% 2% 2% 2%;
  float: left;
  text-align: left;
  font-size: 1.2em;
}

.shot1 .right .mobile_symbols {
  margin: 20% 20px 20px 20px;
  width: 56%;
  height: 20%;
  float: right;
  text-align: right;
  font-size: 1.2em;
}

.shot1 .right .mobile_symbols img {
  max-width: 100%;
  max-height: 100%;
}

#screenshots .shot2 {
  margin-top: 2%;
  width: 100%;
  overflow: auto;
}

.shot2 .left {
  width: 48%;
  padding: 1%;
  float: left;
}

.shot2 .right {
  width: 38%;
  padding: 1%;
  float: right;
}

.shot2 .right img {
  max-width: 100%;
  max-height: 100%;
}

#mochu {
  width: 100%;
  height: 170px;
  margin-top: 2%;
  overflow: hidden;
}

#mochu .left {
  color: #fff;
  font-size: 2.5em;
  float: left;
}

#mochu .right img {
  float: right;
  margin-right: 80px; 
  max-width: 100%;
  max-height: 100%;
}

#mochu .left h1 {
  margin-top: 68px;
  margin-bottom: 60px;
  text-align: center;
}

#mochu .center-cropped {
  width: 100px;
  height: 170px;
  background-color:rgba(201, 160, 220, 0.8);
  background-repeat: repeat;
  overflow: hidden;
  z-index: -2;
  left: 0px;
  overflow:hidden;
}

/*********************************************************************************/
/*
/* Mission
/* 
/*********************************************************************************/

#mission h1 {
  margin-top: .5em; 
  text-align: center;
  font-size: 2em;
}

#mission .image {
  width: 100%;
  height: 400px;
  text-align: center;
}

#mission .image img{
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#mission .statement {
  width: 100%;
  margin-top: 2%;
  font-size: 1.2em;
}

#band5text {
  margin-top: auto;
  margin-bottom: auto;
}

.portfoliobutton {
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:25px;
	-moz-border-radius-topleft:25px;
	border-top-left-radius:25px;
	-webkit-border-top-right-radius:25px;
	-moz-border-radius-topright:25px;
	border-top-right-radius:25px;
	-webkit-border-bottom-right-radius:25px;
	-moz-border-radius-bottomright:25px;
	border-bottom-right-radius:25px;
	-webkit-border-bottom-left-radius:25px;
	-moz-border-radius-bottomleft:25px;
	border-bottom-left-radius:25px;
	text-indent:0px;
	display:inline-block;
	color:#c9a0dc;
	font-family:Verdana;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:49px;
	line-height:49px;
	width:220px;
	text-decoration:none;
	text-align:center;
}.portfoliobutton:hover {
	background-color:#e9e9e9;
}.portfoliobutton:active {
	position:relative;
	top:1px;
}

/*********************************************************************************/
/*
/* Press
/* 
/*********************************************************************************/


#press_header {
  width: 100%;
  height: 150px;
  margin-top: 2%;
  overflow: hidden;
}

#press_header .left {
  color: #fff;
  font-size: 2.5em;
  float: left;
}

#press_header .left h1 {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

#press_header .center-cropped {
  width: 100px;
  height: 150px;
  background-color:rgba(201, 160, 220, 0.8);
  background-repeat: repeat;
  overflow: hidden;
  z-index: -2;
  left: 0px;
}

.press_content {
  margin-top: 2%;
}


/*********************************************************************************/
/*
/* Jobs
/* 
/*********************************************************************************/


#jobs_header {
  width: 100%;
  height: 150px;
  margin-top: 2%;
  overflow: hidden;
}

#jobs_header .left {
  color: #fff;
  font-size: 2.5em;
  float: left;
}

#jobs_header .left h1 {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

#jobs_header .center-cropped {
  width: 100px;
  height: 150px;
  background-color:rgba(201, 160, 220, 0.8);
  background-repeat: repeat;
  overflow: hidden;
  z-index: -2;
  left: 0px;
}

.jobs_content {
  margin-top: 2%;
}


/*********************************************************************************/
/*
/* Contact
/* 
/*********************************************************************************/


#contact #contact_header {
  width: 100%;
  height: 150px;
  margin-top: 2%;
  overflow: hidden;
}

#contact #contact_header .left {
  color: #fff;
  font-size: 2.5em;
  float: left;
}

#contact #contact_header .left h1 {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

#contact #contact_header .center-cropped {
  width: 100px;
  height: 150px;
  background-color:rgba(201, 160, 220, 0.8);
  background-repeat: repeat;
  overflow: hidden;
  z-index: -2;
  left: 0px;
}

#contact .contact_content {
  margin-top: 2%;
}


/*********************************************************************************/
/*
/* Mochu
/* 
/*********************************************************************************/

#mochu-img {
  width: 100%;
}

#mochu-img img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
}
